
.sevenSegment {
    text-align: center;
    vertical-align: middle;
    width: 140px;
    height: 70px;
    display: inline-table;
}
.sevenSegmentValue {
    font-family: 'digital-7_italicitalic';
    font-size: 50px;
    line-height: 1em;
    padding: 2px;
    border: 1px groove gray;
    background-color: #5c5c5c;
    color: white;
}
.sevenSegmentTitle {
    margin: 0;
}

