<div class="${baseClass}">
	<div>
		<div data-dojo-attach-point="valueNode" class="${baseClass}Value">${value}</div>
	</div>
	<h3 data-dojo-attach-point="titleNode" class="${baseClass}Title">${title}</h3>
</div>
