
body {
    line-height: 16px;
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
    color: #5c5c5c;
}
footer {
    clear: both;
    text-align: center;
}
#gauges {
    width: 720px;
    height: 493px;
    margin: 0 auto;
}
.sensor {
    text-align: center;
    padding: 20px;
    float: left;
}
#auxGauges {
    clear: both;
}
#auxGauges .sensor {
    width: 140px;
}
.title {
    margin: 0;
    padding-bottom: 5px;
    font-weight: bold;	
}

